<!DOCTYPE html>
<html>
<head>
    <title>Git Forked</title>
    <meta name="description" content="Create fork buttons to promote your open source project." />
    <link href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" type="text/css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/styles/site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1>Git Forked</h1>
            <div class="about">
                <p>Promote your <a href="http://github.com/">GitHub</a> hosted, open source project, with a fancy "Fork" button.</p>
                <p>Add to your home page, blog and anywhere else you see those damn social media buttons!</p>            
            </div>
            <div class="side">
                <div class="example">
                <p>
                    Example:
                    <a href="https://github.com/andrewdavey/postal" class="gitforked-button gitforked-forks gitforked-watchers">Fork</a>
                </p>
                <p>It's a link to the repo page.</p>
                <p>The numbers of forks and watchers are shown next to the button.</p>
                </div>
            </div>
            <div style="clear:left"></div>
        </div>
        <div id="main">
            <div id="button-factory">
                <label for="repository-url" id="repository-url-label">Enter your GitHub repository URL</label>
                <div>
                    <input type="text" id="repository-url" placeholder="https://github.com/<username>/<repository>"/>
                    <button id="create-button">Create Button</button>
                </div>
                <div>
                    <label>Show number of </label>
                    <input type="checkbox" id="show-forks" checked="checked"/><label for="show-forks">Forks</label>
                    <input type="checkbox" id="show-watchers" checked="checked"/><label for="show-watchers">Watchers</label>
                </div>
                <div id="output">
                    <label>Here's your button</label>
                    <div id="button"></div>
                    <p>Add this HTML where you want the button to appear:</p>
                    <pre><code id="button-html"></code></pre>
                    <p>To hide the watchers count, remove 'gitforked-watchers' from the class.</p>
                    <p>Then put this script at the bottom of your page:</p>
                    <code>&lt;script src="http://gitforked.com/api/1.1/button.js" type="text/javascript"&gt;&lt;/script&gt;</code>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="about">
                <h2>About</h2>
                <p>I'm <a href="http://aboutcode.net/">Andrew Davey</a>. I spent a day hacking together Git Forked
                mostly for the fun of it!</p>
                <p>I enjoy creating open source projects and GitHub is simply the most awesome
                place to do that. It's always great to collaborate with others. 
                A Git Forked button helps me encourage people to get involved.</p>
                <h2>Contact</h2>
                <p>I'd love to hear from you!</p>
                <p><a href="http://twitter.com/andrewdavey">Follow me on twitter</a></p>
                <p><a href="http://aboutcode.net/">Read the blog</a></p>
                <p><a href="mailto:andrew@equin.co.uk">Email me</a></p>
            </div>
            <div class="side">
                <p>Tell your friends!</p>
                <p>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://gitforked.com/" data-count="horizontal" data-via="andrewdavey">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgitforked.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=190&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=40" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:190px; height:40px;" allowTransparency="true"></iframe>
                </p>
                <p>Fork Git Forked? Go for it!</p>
                <p>
                    <a href="https://github.com/andrewdavey/gitforked" class="gitforked-button gitforked-forks gitforked-watchers">Fork</a>
                </p>
            </div>
            <div style="clear:left"></div>
        </div>
        <div id="legal">
            <p>Andrew Davey is not affiliated with GitHub Inc., he just loves using their services.</p>
            <p><a href="http://appharbor.com">Powered by AppHarbor - .NET cloud application platform</a></p>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    @if (Context.IsDebuggingEnabled)
    {
    <script src="@Url.Content("~/api/_source/button.js")" type="text/javascript"></script>
    }
    else
    {
    <script src="http://gitforked.com@(Url.Content("~/api/1.1/button.js"))" type="text/javascript"></script>
    }
    <script src="@Url.Content("~/assets/scripts/factory.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21774590-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    @if (Context.IsDebuggingEnabled)
    {
        <script src="http://localhost:8001/vogue-client.js"></script>
    }
    
</body>
</html>